*~
*.aux
*.log
*.out
*.pdf
*.tex
ltxpng
PDFs
Evernote
*.toc
journal.pyg
*.out
*.rar
*.zip
*.tar.gz
#journal.tex#
Project/Python/Tkinter/test/
#*
*#
*build
*tmp
*.bag
*.bag*
Career
Graduation*
TagerillWong
Project/catkin_ws
Journal/Figure
Journal/PDF
Journal/Cloud
Journal/ltxpng
Journal/Doc/index*
Journal/*pyg
Journal/*sh
Journal/*py
Project/Totar
Reference/Chip
Reference/Faq
Reference/Guide
Reference/HTML
Reference/Manual
Reference/Memenmo
Reference/Presentation
Reference/Textbook
Kindle
Workspace